{% extends 'contest/base.html' %}
{% block content %}
<h1>Tournament Template</h1>
    {% for tournament in tournaments %}
        {% for match in matches %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ tournament.host.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ tournament.host }}</a>
          <small class="text-muted">{{ tournament.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'tournament-detail' match.id %}">{{ match.player1 }} {{ match.score1 }} : {{ match.score2 }} {{ match.player2 }}</a></h2>
        <p class="article-content"></p>
      </div>
    </article>
        {% endfor %}
    {% endfor %}
{% endblock content %}