{% extends "tournament/base.html" %}
{% block content %}
{% load static %}
 <h2>Home</h2>
     <div>
     {% if contests %}
        <ul>
            {% for contest in contests %}
            <li><a href="/tournament/contest/{{ contest.slug }}/">{{ contest.name }}</a></li>
            {% endfor %}
        </ul>
     {% else %}
         <strong>There are no contests present.</strong>
     {% endif %}
     </div>
     <div>
        <p><img src="{% static 'tournament/images/png.png' %}"  height="350"/></p>
     </div>
{% endblock content %}

