{% extends "tournament/base.html" %}
{% block content %}
{% load static %}
    <div>
    {% if contest %}
        <h1>{{ contest.name }}</h1>
        {% if players %}
        <ul>
            {% for player in players %}
            <li><a href="">{{ player.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No players currently in this tournament.</strong>
        {% endif %}
    {% else %}
            The specified contest does not exist!
    {% endif %}
    </div>
{% endblock content %}